/* Your app styles here */
.number-sync{    
    border-radius: 36px;
    height: 24px;
    margin: 5px;
    font-weight: bold;
    color: white;
    padding: 2px;
    min-width: 24px;
    position: absolute;
    right: 25px;
    top: 5px;
    text-align: center;
}
.not-sync{
    background-color: orange;
}
.synced{
    background-color: green;
}
.fa{
    font-size: 32px;
}
.badge-fix{
    text-align:center;
    min-width:32px;
    border-radius:12px;
}
.after-fix{
    position: absolute;
    top: 15px;
    right: 15px;
}
.card-header-fix{
    /* color:white; */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.link-icon-fix{
    top:-9px;
}
.size-32{
    font-size: 32px;
}
.card-content-fix{
    overflow: hidden;
}